*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-cont{
    width: 100%;
    height: 100vh;
    padding: 10px;
}


nav{
    width: 100% !important;
}
h1{
    font-size: 32px !important;
}
ul{
    list-style: none;
    text-align: center;
    background-color: red;
}
li{
    padding: 15px;
    border-top: 1px solid white;
}
a{
    color: white;
    text-decoration: none;
}
@media (min-width: 768px) {
    ul{
        display: flex;
        border-radius: 8px;
    }

}


/* ul{
    display: flex;
    background-color: red;
    border-radius: 8px;
}
li{
    list-style: none;
    padding: 15px;
}
a{
    color: white;
} */